#####################
@i3-market:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=Pfqy83yEHZ-B_KV9gLws
registry=http://95.211.3.251:8081/repository/i3m-npm-proxy
@i3m:registry=http://95.211.3.251:8081/repository/i3m-npm-registry

