---
- name: sdk-core provisiong and publising
  hosts: i3m-node4
  become: true
  vars:
  tasks:
  
 ################### JAVAscript SDK ARTIFACT TASKS #######################
 
 ################### JAVAscript BACKPLANE TASKS ##########################
 
   - name: Get access token for accesing to Sdk Generator REST API
     uri:
       method: POST
       url: "http://{{ KEYCLOAK_HOST }}:8080/auth/realms/i3market/protocol/openid-connect/token"
       body: "grant_type=password&client_id=SDKGeneratorClient&client_secret=a4279d93-994d-4de4-a2d6-3b1660d07842&scope=openid&username=i3market&password=sgfjlsn44r50.,fsf03"
       headers:
          Content-Type: "application/x-www-form-urlencoded"
     register: auth_request
   
   - debug:
       var: auth_request
       
   - debug:
       msg: " ACCESS-TOKEN: {{ auth_request.json.access_token }} "  
       
#    - name: Make an API call to Backplane API to download OAS file
#      shell: "curl -k -o \"/tmp/backplaneOAS.json\" -v https://{{ BACKPLANE_HOST }}:3000/openapi.json"
#           
#    - name: cat the OAS file contents
#      shell: "cat /tmp/backplaneOAS.json"
#      register: shellout   
#      
#    - name: Display the OAS File Contents
#      debug: 
#        var: shellout.stdout_lines     
       
   - name: Upload oas file to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/backplaneOAS.json http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/backplaneOAS.json"
     register: shellout 
     
   - name: Display nexus curl response
     debug: 
       var: shellout   
 
   - name: Make an API call to SDK-Generator to generate SDK client stub
     uri:
       method: POST
       url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/javascript"
       body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/backplaneOAS.json\", \"options\": {} }"
       body_format: json
       return_content: yes
       headers:
         Authorization: "Bearer {{ auth_request.json.access_token }}"
       dest: "/tmp/i3m-sdk-core-javascript.zip"
       mode: 0766
     register: sdkgen_javascript  
     
   - debug:
       var: sdkgen_javascript
       
   - name: Upload oas-javascript artifact to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/i3m-sdk-core-javascript.zip http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-core-javascript-1.0.0.zip"
     register: shellout  
     
      
################### JAVAscript OIDC TASKS ########################## 
      
       
   - name: Get access token for accesing to Sdk Generator REST API
     uri:
       method: POST
       url: "http://{{ KEYCLOAK_HOST }}:8080/auth/realms/i3market/protocol/openid-connect/token"
       body: "grant_type=password&client_id=SDKGeneratorClient&client_secret=a4279d93-994d-4de4-a2d6-3b1660d07842&scope=openid&username=i3market&password=sgfjlsn44r50.,fsf03"
       headers:
          Content-Type: "application/x-www-form-urlencoded"
     register: auth_request
   
   - debug:
       var: auth_request
       
   - debug:
       msg: " ACCESS-TOKEN: {{ auth_request.json.access_token }} "  
       
   - name: Make an API call to Backplane API to download OAS file
     shell: "curl -k -o \"/tmp/oidcOAS.json\" -v https://{{ OIDC_HOST }}/api-spec/openapi.json"
          
   - name: cat the OAS file contents
     shell: "cat /tmp/oidcOAS.json"
     register: shellout   
     
   - name: Display the OAS File Contents
     debug: 
       var: shellout.stdout_lines     
       
   - name: Upload oas file to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/oidcOAS.json http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/oidcOAS.json"
     register: shellout 
     
   - name: Display nexus curl response
     debug: 
       var: shellout   
       
   - name: Make an API call to SDK-Generator to generate SDK client stub
     uri:
       method: POST
       url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/javascript"
       body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/oidcOAS.json\", \"options\": {} }"
       body_format: json
       return_content: yes
       headers:
         Authorization: "Bearer {{ auth_request.json.access_token }}"
       dest: "/tmp/i3m-sdk-oidc-javascript.zip"
       mode: 0766
     register: sdkgen_javascript  
     
   - debug:
       var: sdkgen_javascript
       
   - name: Upload oas-javascript artifact to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/i3m-sdk-oidc-javascript.zip http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-oidc-javascript-1.0.0.zip"
     register: shellout  
     
################### JAVAscript VC TASKS ########################## 
      
       
   - name: Get access token for accesing to Sdk Generator REST API
     uri:
       method: POST
       url: "http://{{ KEYCLOAK_HOST }}:8080/auth/realms/i3market/protocol/openid-connect/token"
       body: "grant_type=password&client_id=SDKGeneratorClient&client_secret=a4279d93-994d-4de4-a2d6-3b1660d07842&scope=openid&username=i3market&password=sgfjlsn44r50.,fsf03"
       headers:
          Content-Type: "application/x-www-form-urlencoded"
     register: auth_request
   
   - debug:
       var: auth_request
       
   - debug:
       msg: " ACCESS-TOKEN: {{ auth_request.json.access_token }} "  
       
   - name: Make an API call to Backplane API to download OAS file
     shell: "curl -k -o \"/tmp/vcOAS.json\" -v https://{{ VC_HOST }}/vc/api-spec/openapi.json"
          
   - name: cat the OAS file contents
     shell: "cat /tmp/vcOAS.json"
     register: shellout   
     
   - name: Display the OAS File Contents
     debug: 
       var: shellout.stdout_lines     
       
   - name: Upload oas file to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/vcOAS.json http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/vcOAS.json"
     register: shellout 
     
   - name: Display nexus curl response
     debug: 
       var: shellout   
       
   - name: Make an API call to SDK-Generator to generate SDK client stub
     uri:
       method: POST
       url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/javascript"
       body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/vcOAS.json\", \"options\": {} }"
       body_format: json
       return_content: yes
       headers:
         Authorization: "Bearer {{ auth_request.json.access_token }}"
       dest: "/tmp/i3m-sdk-vc-javascript.zip"
       mode: 0766
     register: sdkgen_javascript
     
   - debug:
       var: sdkgen_javascript
       
   - name: Upload oas-javascript artifact to Nexus
     shell: "curl -v -u i3m-nexus:i3m.nexus --upload-file /tmp/i3m-sdk-vc-javascript.zip http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-vc-javascript-1.0.0.zip"
     register: shellout                
    
####################### JAVA SDK ARTIFACT TASKS #############################
       
   - name: Delete oas temp dir
     shell: "rm -rf /tmp/oas/java/"
      
#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for BACKPLANE API. https://generator3.swagger.io/
#      uri:
#         method: POST
#         url: "https://generator3.swagger.io/api/generate"
#         body: "{\"lang\":\"java\",\"specURL\":\"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/backplaneOAS.json\",\"type\":\"CLIENT\",\"codegenVersion\":\"V3\",\"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m\", \"apiPackage\": \"com.i3m.api\", \"hideGenerationTimestamp\": \"true\", \"useBeanValidation\": \"true\", \"serializableModel\": \"true\" }}"
#         body_format: json
#         return_content: yes
#         dest: "/tmp/oas-java.zip"
#         mode: 0766
#      register: sdkgen_java     
#        
#    - debug:
#        var: sdkgen_java
       
#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for BACKPLANE API
#      uri:
#        method: POST
#        url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/java"
#        body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/backplaneOAS.json\", \"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m.model.backplane\", \"apiPackage\": \"com.i3m.api.backplane\", \"hideGenerationTimestamp\": \"true\", \"useBeanValidation\": \"true\", \"serializableModel\": \"true\" }}"
#        body_format: json
#        return_content: yes
#        headers:
#          Authorization: "Bearer {{ auth_request.json.access_token }}"
#        dest: "/tmp/oas-java.zip"
#        mode: 0766
#      register: sdkgen_java  
#      
#    - debug:
#         var: sdkgen_java 

   - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for BACKPLANE API
     uri:
       method: POST
       shell: "openapi-generator-cli version-manager set 4.3.1 || openapi-generator-cli generate -g java --additional-properties=modelPackage=com.i3m.backplane.model,apiPackage=com.i3m.backplane.api,prependFormOrBodyParameters=true -o /tmp/oas/java -i http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/backplaneOAS.json --enable-post-process-file --generate-alias-as-model --library=jersey2 --skip-validate-spec"
     register: sdkgen_java  
     
   - debug:
        var: sdkgen_java 
       
#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for OIDC API. https://generator3.swagger.io/
#      uri:
#         method: POST
#         url: "https://generator3.swagger.io/api/generate"
#         body: "{\"lang\":\"java\",\"specURL\":\"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/oidcOAS.json\",\"type\":\"CLIENT\",\"codegenVersion\":\"V3\",\"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m.model\", \"apiPackage\": \"com.i3m.api\", \"hideGenerationTimestamp\": \"true\", \"useBeanValidation\": \"true\", \"serializableModel\": \"true\" }}"
#         body_format: json
#         return_content: yes
#         dest: "/tmp/oidc-java.zip"
#         mode: 0766
#      register: sdkgen_java    
#        
#    - debug:
#        var: sdkgen_java  

#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for OIDC API
#      uri:
#        method: POST
#        url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/java"
#        body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/oidcOAS.json\", \"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m.model.oidc\", \"apiPackage\": \"com.i3m.api.oidc\", \"hideGenerationTimestamp\": \"true\", \"useBeanValidation\": \"true\", \"serializableModel\": \"true\" }}"
#        body_format: json
#        return_content: yes
#        headers:
#          Authorization: "Bearer {{ auth_request.json.access_token }}"
#        dest: "/tmp/oidc-java.zip"
#        mode: 0766
#      register: sdkgen_java  
#      
#    - debug:
#         var: sdkgen_java    

   - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for OIDC API
     uri:
       method: POST
       shell: "openapi-generator-cli version-manager set 4.3.1 || openapi-generator-cli generate -g java --additional-properties=modelPackage=com.i3m.oidc.model,apiPackage=com.i3m.oidc.api,prependFormOrBodyParameters=true -o /tmp/oas/java -i http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/oidcOAS.json --enable-post-process-file --generate-alias-as-model --library=jersey2 --skip-validate-spec"
     register: sdkgen_java  
     
   - debug:
        var: sdkgen_java  
       
#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for VC API. https://generator3.swagger.io/
#      uri:
#         method: POST
#         url: "https://generator3.swagger.io/api/generate"
#         body: "{\"lang\":\"java\",\"specURL\":\"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/vcOAS.json\",\"type\":\"CLIENT\",\"codegenVersion\":\"V3\",\"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m\", \"apiPackage\": \"com.i3m.api\", \"hideGenerationTimestamp\": \"true\", \"serializableModel\": \"true\" }}"
#         body_format: json
#         return_content: yes
#         dest: "/tmp/vc-java.zip"
#         mode: 0766
#      register: sdkgen_java     
#        
#    - debug:
#        var: sdkgen_java   

#    - name: Make an API call to Swagger Generator to generate JAVA SDK client stub for VC API
#      uri:
#        method: POST
#        url: "http://{{ SDKGEN_HOST }}:8180/SdkGenerator/api/sdkgen/generateSDK/java"
#        body: "{ \"openAPIUrl\": \"http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/vcOAS.json\", \"options\":{\"groupId\":\"{{ ARTIFACT_GROUP_ID }}\",\"artifactId\":\"{{ ARTIFACT_NAME }}\",\"artifactVersion\":\"{{ ARTIFACT_VERSION }}\", \"library\": \"jersey2\", \"modelPackage\": \"com.i3m.model.vc\", \"apiPackage\": \"com.i3m.api.vc\", \"hideGenerationTimestamp\": \"true\", \"useBeanValidation\": \"true\", \"serializableModel\": \"true\", \"prependFormOrBodyParameters\": \"true\" }}"
#        body_format: json
#        return_content: yes
#        headers:
#          Authorization: "Bearer {{ auth_request.json.access_token }}"
#        dest: "/tmp/vc-java.zip"
#        mode: 0766
#      register: sdkgen_java  
#      
#    - debug:
#         var: sdkgen_java    
       
#    - name: Delete oas temp dir
#      shell: "rm -rf /tmp/oas/java/"
#       
#    - name: Create oas temp dir
#      file:
#       path: "/tmp/oas/java/"
#       state: "directory"
        
#    - name: Unzip file with client stubs 
#      unarchive:
#        src: "/tmp/oas-java.zip"
#        dest: "/tmp/oas/java/"
#        remote_src: yes
#        
#    - name: Unzip file with client stubs
#      unarchive:
#        src: "/tmp/oidc-java.zip"
#        dest: "/tmp/oas/java"
#        remote_src: yes   
       
#    - name: Unzip file with client stubs
#      unarchive:
#        src: "/tmp/vc-java.zip"
#        dest: "/tmp/oas/java"
#        remote_src: yes
       
   - name: Set java 8 as default jvm
     shell: "{{ item }}"
     with_items:
       - export JAVA_HOME=\"/usr/lib/jvm/java-1.8.0-openjdk-amd64\"
       - export PATH=${JAVA_HOME}/bin:$PATH
     
   - name: Mvn package sdk-core artifact
     shell: "mvn clean install"
     args:
        chdir: "/tmp/oas/java"
     become: yes   
     
#    - name: Get artifacts names for target dir
#      shell: "ls /tmp/oas/java/target/*.jar"
#      register: shellout    
#      
#    - debug:   
#        msg: "{{ item }}"
#      with_items: "{{ shellout.stdout_lines }}" 

   - name: Crate a tmp dir
     shell: "mkdir tmp"
     args:
        chdir: "/tmp/oas/java/target/"
     become: yes
     
   - name: Extract jar file with java classes
     shell: "jar -xf ../{{ ARTIFACT_NAME }}-{{ ARTIFACT_VERSION }}.jar"    
     args:
        chdir: "/tmp/oas/java/target/tmp"
     become: yes  
     
   - name: Extract jar file with java docs
     shell: "jar -xf ../{{ ARTIFACT_NAME }}-{{ ARTIFACT_VERSION }}-javadoc.jar"    
     args:
        chdir: "/tmp/oas/java/target/tmp"
     become: yes  
     
   - name: Extract jar file with java sources
     shell: "jar -xf ../{{ ARTIFACT_NAME }}-{{ ARTIFACT_VERSION }}-sources.jar"    
     args:
        chdir: "/tmp/oas/java/target/tmp"
     become: yes    
     
   - name: Add all classes and docs into a single JAR file,
     shell: " jar -cf ../{{ ARTIFACT_NAME }}-all-{{ ARTIFACT_VERSION }}.jar ."    
     args:
        chdir: "/tmp/oas/java/target/tmp"
     become: yes   
          
        
   - name: Upload Sdk-Core artifacts to Nexus
     shell: "mvn deploy:deploy-file -DgroupId={{ ARTIFACT_GROUP_ID}} -DartifactId={{ ARTIFACT_NAME }}-all -Dversion={{ ARTIFACT_VERSION }} -Dpackaging=jar -DgeneratePom=false -DrepositoryId=nexus-i3m -Durl=http://95.211.3.251:8081/repository/i3m-maven-snapshots/ -Dfile=./{{ ARTIFACT_NAME }}-all-{{ ARTIFACT_VERSION }}.jar"
#     shell: "mvn deploy:deploy-file -DgeneratePom=false -DrepositoryId=nexus-i3m -Durl=http://95.211.3.251:8081/repository/i3m-maven/ -DpomFile=pom.xml -Dfile={{ item }}"
     args:
        chdir: "/tmp/oas/java/target"
     become: yes
#      loop: "{{ shellout.stdout_lines }}"
#      register: nexusout
#      
#    - debug: 
#        var: nexusout     

- name: Notifications    
  hosts: i3m-node2
  become: true
  tasks:
    
 ######## SEND NOTIFICATIONS #####
#    - name: Send email notification
#      mail:
#        host: localhost
#        port: 25
#        from: admin@i3-market.eu
#        to: i3-MARKET-Project@insight-centre.org
#        subject: SDK-core new version available
#        body: "A new version of the SDK-CORE it is available at: \n   1) java version: http://95.211.3.251:8081/#browse/browse:i3m-maven-snapshots:com%2Fi3m%2Fsdk-core-all%2F1.0.0-SNAPSHOT\n    2) javascript version (SDK-core): http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-core-javascript-1.0.0.zip\n  3) javascript version (SDK-oidc): http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-oidc-javascript-1.0.0.zip\n   4) javascript version (SDK-vc): http://95.211.3.251:8081/repository/i3m-raw/i3m-raw/files/i3m-sdk-vc-javascript-1.0.0.zip\n" 